Repository nearby-sharing/android, pull requests merged in 2023-04, with the labels that each got.

#82 Fix Chinese translation
  Nearby Sharing Windows/Assets/zh/MacAddressInfo.html
  Nearby Sharing Windows/Assets/zh/Welcome.html
Labels: bug, UI

#83 Receive multiple files
  Nearby Sharing Windows/ReceiveActivity.cs
  ShortDev.Microsoft.ConnectedDevices.NearShare/Internal/NearShareApp.cs
  ShortDev.Microsoft.ConnectedDevices.NearShare/TransferToken.cs
Labels: feature-request, NearShare-Receive

#87 Udp advertisement
  Nearby Sharing Windows/ReceiveActivity.cs
  Nearby Sharing Windows/SendActivity.cs
  ShortDev.Microsoft.ConnectedDevices/CdpSession.cs
  ShortDev.Microsoft.ConnectedDevices/Constants.cs
  ShortDev.Microsoft.ConnectedDevices/Internal/UpgradeHandler.cs
  ShortDev.Microsoft.ConnectedDevices/Messages/Connection/TransportUpgrade/EndpointInfo.cs
  ShortDev.Microsoft.ConnectedDevices/Messages/Discovery/DiscoveryType.cs
  ShortDev.Microsoft.ConnectedDevices/Messages/Discovery/PresenceResponse.cs
  ShortDev.Microsoft.ConnectedDevices/Transports/NetworkTransport.cs
Labels: feature-request, NearShare-Send
